{% extends "project-base.html.twig" %}

{% block title %}MVC Project{% endblock %}

{% block main %}
<ul class="proj-secondary-nav">
    <li class="proj-sec-nav-li"><a class="proj-nav-b" href="{{ path('proj_home') }}">Home</li></a>
    <li class="proj-sec-nav-li"><a class="proj-nav-b" href="{{ path('proj_about') }}">About</li></a>
    <li class="proj-sec-nav-li"><a class="proj-nav-b" href="{{ path('proj_init') }}">New Game</li></a>
</ul>

<h1 class="proj-h1">MVC About</h1>
En sida /proj/about som ger en kort introduktion till ditt projekt och vad det handlar om.

<p>This project is a game of Black Jack. You may begin by clicking the "New Game" link and register 1-3 players.
After which, you may place your bets and then the game begins!
At the start of each game you get 2 cards, the bank also gets 2 but one is hidden.
The goal of the game is to get as close to 21 points, if you get 21 you win the game!
When it is your turn, you may draw a card (if you have less than 21), or hold. 
When each player has had their turn it's the banks turn. 
At the end of each game you will see the result (who won and how much they won).
</p>


{% endblock %}
