{% extends "project-base.html.twig" %}

{% block title %}MVC Project{% endblock %}

{% block main %}
<ul class="proj-secondary-nav">
    <li class="proj-sec-nav-li"><a class="proj-nav-b" href="{{ path('proj_home') }}">Home</li></a>
    <li class="proj-sec-nav-li"><a class="proj-nav-b" href="{{ path('proj_about') }}">About</li></a>
    <li class="proj-sec-nav-li"><a class="proj-nav-b" href="{{ path('proj_init') }}">New Game</li></a>
</ul>

<h1 class="proj-h1">MVC Project</h1>
<img src="{{ asset('img/blackjack_board.jpeg') }}" width="600px" alt="BlackJack Board">

<h2>Welcome!</h2>
<p>This is the landing page for the MVC final Project; a game of BlackJack</p>
<p>You may find more information about the project in the "About" page.</p>

<p>
    The blackjack game was created with it's main objective being a learning experience.
    This is in no way an endoresement of gambling.
</p>
<p>
    Gambling addiction is a serious issue and if you have issues with gambling you should seek professional help. 
</p>
<a href="https://stodlinjen.se/en/about-us/about-us">Swedish National helpline for gambling</a>

{% endblock %}
