{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}


{% block main %}
    <h1>Create new book</h1>
    <nav class="secondary-nav">
        <ul class="nav-items">
            <li class="nav-item"><a class="nav-b" href="{{ path('library') }}">Home</a></li>
            <li class="nav-item"><a class="nav-b" href="{{ path('library_view_all') }}">All books</a></li>
            <li class="nav-item"><a class="nav-b" href="{{ path('library_create_new') }}">Create new book</a></li>
        </ul>
    </nav>
    <br>
    <div class="create-book-div">
        <h3>Create a new book!</h3>
        <form enctype="multipart/form-data" method="post" action="{{ path('library_create') }}">
            <label class="book-form-label" for="book_title">Title</label><br>
            <input class="book-form-input" type="string" name="book_title"><br>

            <label class="book-form-label" for="book_author">Author:</label><br>
            <input class="book-form-input" type="string" name="book_author"><br>

            <label class="book-form-label" for="book_isbn">ISBN:</label><br>
            <input class="book-form-input" type="string" name="book_isbn"><br>
            
            <label class="book-form-label" for="book_image">Image:</label><br>
            <!-- MAX_FILE_SIZE must precede the file input field -->
            <input type="hidden" name="MAX_FILE_SIZE" value="90000000" />
            <!-- Name of input element determines name in $_FILES array -->
            <input class="book-form-input" type="file" name="book_image" />

            <input class="book-form-submit" type="submit" name="do_it" value="Create">
        </form>
    </div>


{% endblock %}
