{% extends 'base.html.twig' %}

{% block title %}Library{% endblock %}


{% block main %}
    <h1>Library</h1>
        <nav class="secondary-nav">
            <ul>
                <li class="nav-li"><a class="nav-a" href="{{ path('library') }}">Library home</a></li>
                <li class="nav-li"><a class="nav-a" href="{{ path('library_show_all') }}">All books</a></li>
                <li class="nav-li"><a class="nav-a" href="{{ path('library_create_new') }}">Create new book</a></li>
            </ul>
        </nav>


{% endblock %}
