* {
    box-sizing: border-box;
}


body {
    margin: 0 auto;
    background-color: rgb(56, 56, 56);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


main {
    margin: 0 auto;
    padding: 1em;
    background-color: rgb(216, 216, 216);
    width: 75vw;
    max-width: 85vw;
    min-width: 60vw;
    border: solid;
    flex: 1;
}


.site-title{
    font-size: 3em;
    color: rgb(39, 98, 39);
    padding: 10px;
}


.site-header {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
}


header {
    min-height: 25%;
    margin-bottom: 10px;
}


footer {
    width: 100%;
    font-size: 1.8em;
    padding: 0.5em;
    background-color: rgb(39, 98, 39);
    color: white;
}


h1 {
    border-bottom: 4px double #333e67;
}


.main-nav {
    margin: 0px;
    font-size: large;
    padding: 10px;
    padding-left: 25%;
}


.nav-li {
    float: left;
    margin: 5px;
}


.nav-a {
    color:rgb(199, 217, 196);
    font-style: none;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    margin-right: 15px;
}


.nav-a:hover {
    color:rgb(215, 230, 212);
}


.lucky {
    background-color:yellowgreen;
}


.col-article {
    display: flex;
}


.column {
    flex: 50%;
    padding: 10px;
}


.flash-success {
    padding: 0.5em;
    color: #ffffff;
    background-color: #155724;
    border-color: #b7c7ba;
}


.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}


.flash-notice:before {
    content: "ⓘ";
}


.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}


.flash-warning:before {
    content: "⚠";
}


.flash-error {
    padding: 0.5em;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}


.card {
    font-size: 5.8em;
}


#drawn-card {
    font-size: 16em;
    justify-self: center;
}


.spades {
    font-size: 5.8em;
}


.hearts {
    font-size: 5.8em;
    color: red;
}


.diamonds {
    font-size: 5.8em;
    color: red;
}


.clovers {
    font-size: 5.8em;
}


.game-button {
    background-color: #447ce6;
    padding: 1em;
    border-radius: 5px;
    color: white;
}


.game-button:hover {
    background-color: #2f5bab;
    color: white;
}


.game-result {
    display: grid;
    justify-content: center;
}


.game-box {
    border: solid rgb(125, 125, 125);
    margin: 10px;
    padding: 10px;
}


.game-div {
    display: grid;
    justify-content: center;
}


.game-hand {
    margin: -50px 0 50px 0;
}


.game-info {
    width: 35%;
}


.secondary-nav {
    margin: 0px;
    font-size: large;
    padding: 10px;
    padding-left: 5%;
    display: flex;
    width: 60%;
    margin-left: 20%;
}


.nav-items {
    align-items: stretch;
}


.nav-item {
    float: left;
    margin: 5px;
    list-style-type: none;
}


.nav-b {
    color: rgb(39, 50, 39);
    font-size: 1.2em;
    padding: 0.5em;
}


.nav-b:hover {
    color: rgb(122, 198, 122);
    font-size: 1.2em;
    padding: 0.5em;
}


.book-table {
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
}


.book-tr:nth-child(even) {
    background-color: #edecec;
}


.book-tr:nth-child(odd) {
    background-color: #c1c1c1;
}


.book-tr:hover {
    background-color: #8faa8a;
}


.book-th {
    background-color: #728d6c;
    border: solid rgb(33, 34, 33) 1px;
    padding: 15px;
    font-size: 18px;
}


.book-td {
    border: solid rgb(61, 63, 61) 1px;
    padding: 8px;
}


.sing-book-tr {
    background-color: #edecec;
}


.sing-book-tr-a:hover {
    background-color: #86a081;
}


.sing-book-th {
    background-color: #98a79c;
    border: solid rgb(33, 34, 33) 1px;
    padding: 15px;
    font-size: 18px;
}


.sing-book-td {
    border: solid rgb(61, 63, 61) 1px;
    padding: 8px;
}


.book-image {
    height: 10px;
    max-height: 100px;
}


.create-book-div {
    width: 25%;
    margin-left: 37.5%;
}


.book-form-label {
    font-style: heavy;
    font-size: 20px;
}


.book-form-input {
    padding: 5px;
    margin: 0 0 25px 0;
    border-radius: 5px;
    width: 300px;
}


.book-form-submit {
    padding: 10px;
    border-radius: 5px;
    width: 300px;
    background-color: #2662a5;
    color: white;
    font-size: 20px;
}

.book-form-submit:hover {
    background-color: #347ed2;
}


.confirmation-header {
    max-width: 25%;
    margin-left:40%;
}

#book-update-btn {
    margin: 10px;
    margin-left: 45%;
    padding: 6px;
    border-radius: 5px;
    width: 200px;
    background-color: #265ba5;
    color: white;
    font-size: 19px;
}

#book-update-btn:hover {
    background-color: #4562a1;
}

#book-delete-btn {
    margin: 10px;
    margin-left: 45%;
    padding: 6px;
    border-radius: 5px;
    width: 200px;
    background-color: #a5534a;
    color: white;
    font-size: 19px;
}

#book-delete-btn:hover {
    background-color: #cd6b60;
}


#book-affirm-btn {
    margin: 10px;
    margin-left: 45%;
    padding: 6px;
    border-radius: 5px;
    width: 200px;
    background-color: #26a555;
    color: white;
    font-size: 19px;
}

#book-affirm-btn:hover {
    background-color: #6cc578;
}

#book-deny-btn {
    margin: 10px;
    margin-left: 45%;
    padding: 6px;
    border-radius: 5px;
    width: 200px;
    background-color: #a5534a;
    color: white;
    font-size: 19px;
}

#book-deny-btn:hover {
    background-color: #cd6b60;
}

.metrics-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.metrics-report {
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.phpmetrics-h3 {
    padding-top: 50px;
}

.metrics-intro{
    border: solid black 2px;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
    background-color: rgb(233, 231, 231);
}

.metrics-phpmetrics {
    border: solid black 2px;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
    background-color: rgb(233, 231, 231);
}

.metrics-scrutinizer {
    border: solid black 2px;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
    background-color: rgb(233, 231, 231);
}

.metrics-improvements {
    border: solid black 2px;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
    background-color: rgb(233, 231, 231);
}

.metrics-discussion {
    border: solid black 2px;
    padding: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 200px;
    background-color: rgb(233, 231, 231);
}

.before-h4 {
    font-weight: bold;
    text-decoration: underline;
    border: solid red 3px;
    padding: 10px 60px;
}

.after-h4 {
    font-weight: bold;
    text-decoration: underline;
    border: solid green 3px;
    padding: 10px 60px;
}
