{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block main %}
    <h1>About</h1>
    <article class="col-article">
        <div class="column">
            <h3>Länkar till kursens och mitt eget repo</h3>
            <a href="https://github.com/dbwebb-se/mvc">Kursens GitHub-repo</a><br>
            <a href="https://github.com/Axjo21/mvc-report">Mitt GitHub-repo</a><br>
            <h3>MVC illustrerat</h3>
            <a href="{{ asset('img/mvc-basic.png') }}">
                <img src="{{ asset('img/mvc-basic.png') }}" width="450px" alt="">
            </a>
        </div>
        <div class="column">
            <h2>Kort om MVC</h2>
            <p>Kursen MVC går ut på att ytterliggare fördjupa studenten i webbprogrammering,
            genom att bland annat lära ut Objektorienterad programmering med PHP.</p>
            <p>MVC står för "Model View Controller", och det är det vi fått pröva på i det första kursmomentet.
            MVC är ett arkitektuellt designmönster 
            Vi har lärt oss skapa hemsidor med hjälp av ramverket Symfony. Vi har använt oss av modeller, vyer och kontrollers.</p>
            <p>Kursens senare moment kommer att lägga mer fokus på objektoriering med PHP och dess klassiska konstruktioner, samt databaser och enhetstestning.</p>
            <p>Det arbetssätt studenterna stöter på i kursen efterliknar hur det kan vara att jobba ute i arbetsvärlden, där man är en del av ett större team
            och tvingas förhålla sig till det.
            Kursen kommer även att inkorporera SQL, databaser, PHP PDO, HTML, CSS samt övriga verktyg och tekniker. </p>
        </div>
    </article>
{% endblock %}
