{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block main %}
    <ul>
        <li><a href="{{ path('api_home') }}">api home</li></a>
        <li><a href="{{ path('api_quote') }}">api/quote</li></a>

    </ul>

    <h1>Api</h1>

{% endblock %}
