{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block main %}
    <h1> Hej och välkommen! </h1>
    <article class="col-article">
        <div class="column">
            <h2> Axjo21</h2>
            <p>
                Jag är 25 år och pluggar är inne på mitt tredje år på BTH. 
                Min tidigare erfarenhet av webbutveckling var ytterst liten;
                endast lite kunskap om HTML och CSS från en distanskurs som Malmö Högskola erbjöd efter att jag tog studenten.
                På den tiden använde jag Notepad som texteditor. Det fungerade fint, men när jag började på BTH så insåg jag snabbt att
                det fanns bättre alternativ. På gymnasiet så gick jag även "Programmering 1", men jag kommer inte ihåg något från den kursen så jag kan inte riktigt räknas
                det som tidigare erfarenhet.
                Det första året var ganska tufft för mig studiemässigt, eftersom allt var nytt. Och det andra året var även tufft, att hänga med i nytta
                kurser samtidigt som man tog igen de gamla. Nu i det tredje året så känns det lite lugnare och jag har lärt mig enormt mycket de senaste åren.
                På fritiden tycker jag om att spela fotboll, basket, datorspel, konditionsträna och gymma, vandra i skogen och vara med vänner och familj.
            </p><br>
            <p>Axel Jönsson.</p>
        </div>
        <div class="column">
            <a href="{{ asset('img/me.jpg') }}">
                <img src="{{ asset('img/me.jpg') }}" width="450px" alt="">
            </a>
        </div>
    </article>
{% endblock %}
