{% extends "base.html.twig" %}

{% block title %}Lucky number{% endblock %}

{% block body %}
    <article class="lucky">
        <h1>Lucky number</h1>
        <p>Lucky number: {{ number }}</p>
        <a href="{{ asset('img/glider.svg') }}">
            <img src="{{ asset('img/glider.svg') }}" alt="">
        </a>
    </article>
{% endblock %}
